.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.picture {
  width: 200px;
}

.title {
  text-align: center;
  margin: 0;
}

.submit {
  background-color: #88f657;
}
