.auth-page{
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 50px auto;
  padding: 40px;
  background-color: aliceblue;
  border-radius: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .auth-page {
    max-width: 300px;
  }
}

@media screen and (max-width: 319px) {
  .auth-page {
    max-width: 260px;
  }
}

.title {
  max-width: 358px;
  min-height: 29px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 50px 0;
  align-self: center;
}

@media screen and (max-width: 319px) {
  .title {
    font-size: 20px;
    line-height: 24px;
  }
}

.teleport {
  display: flex;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
  align-self: center;
}

.hint {
  margin: 0;
}

.link {
  text-decoration: underline;
  color: #000;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.link:hover {
  color: #00aae6
}
