.buttons {
  width: 100%;
  border: none;
  border-radius: 10em;
  box-sizing: border-box;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.buttons:hover {
  background-color: #00aae6;
  color: #FFF;
}

.input {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}