.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #00aae6;
  padding: 15px 25px;
  color: white;
}

.logo-block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo {
  height: 30px;
}

.button {
  position: relative;
  color: white;
  transition: all 0.2s ease-in-out;
}

.buttonBlock {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.name {
  margin: 0;
  font-size: medium;
}

.privilege {
  position: absolute;
  margin: 0;
  font-size: 10px;
  align-self: flex-end;
  bottom: 12px;
  right: 20px;
}

.button:hover {
  opacity: 0.6;
}

.user-icon {
  width: 30px;
  margin-right: 5px;
}
