.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #00aae6;
  padding: 20px 30px;
}

.logo {
  width: 30px;
}

.button {
  color: white;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.6;
}
