.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #00aae6;
  padding: 15px 25px;
  color: white;
}

.logo-block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo {
  height: 30px;
}

.button {
  color: white;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.6;
}

.user-icon {
  width: 30px;
  margin-right: 5px;
}
