.cardBox {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  width: 348px;
  height: 219px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
}

.stripe {
  position: absolute;
  width: 100%;
  top: 30px;
  right: 0;
  left: 0;
  height: 40px;
  background-color: black;
}

.art {
  position: absolute;
  width: 135px;
  right: 39px;
  bottom: 41px;
}

.logo {
  position: absolute;
  width: 91px;
}

.code {
  position: absolute;
  left: 39px;
  bottom: 31px;
  width: 100px;
  height: 100px;
  background-color: white;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

@keyframes blinkShadow {
  0% {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
}

.code:hover {
  animation: blinkShadow 1.2s infinite;
}

.number {
  margin: 0;
  width: 100%;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
}

.date {
  position: absolute;
  margin: 0;
  left: 26px;
  bottom: 20px;
}

.name {
  position: absolute;
  width: 94px;
  left: 26px;
  top: 20px;
}

.initials {
  position: absolute;
  right: 26px;
  bottom: 20px;
  margin: 0;
}

.logo-first-case {
  top: 17px;
  right: 24px;
}

.logo-second-case {
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
}

.logo-third-case {
  left: 26px;
  bottom: 20px;
}